.search-bar {
  margin: 20px;
  text-align: center;
}

.search-bar input {
  width: 70%;
}

.list-group-item {
  cursor: pointer;
}

.list-group-item:hover {
  background: #eee;
}

.details h3 {
  text-align: center;
}
